body {
    margin:0;
    background-color: rgba(236, 240, 241,1.0);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Jua', sans-serif;
    font-family: 'Rowdies', cursive;
}

.input-style {
    margin-bottom: 1em;
}

.container {
    background-color: whitesmoke;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.task-area {
    border:1px solid lightgray;
}

.task-tabs {
    display: flex;
    border-bottom:1px solid lightgray;
    position:relative;
    text-decoration: none;
}

.tabstyle {
    text-decoration: none;
    color:black;
    margin-right: 20px;
}


.task-tabs div {
    padding:1em;
    cursor:pointer;
}

#under-line {
    height: 4px;
    background: pink;
    position: absolute;
    width: 80px;
    left:0px;
    top:52px;
    padding:0px;
    transition: 0.5s;
}

.task {
    display: flex;
    justify-content: space-between;
    padding:1em;
}

.checktask {
    display: flex;
}



.task-done {
    text-decoration: line-through;
    background-color: lightgray;
    margin:0;
    height: 100%;
    width: 80%;
}